@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-130 {
    padding-bottom: 50px;
  }
  .pt-130 {
    padding-top: 50px;
  }
  .top-header-style-1 .contact-info {
    text-align: center;
  }
  .top-header-style-1 .contact-info li a {
    padding-right: 6px;
    padding-left: 6px;
  }
  .top-header-style-1 .contact-info-2 {
    display: none;
  }
  .dripli-nav-style-1 .others-option .cart-icon {
    position: absolute;
    top: 15px;
    right: 80px;
  }
  .dripli-nav-style-1 .others-option .language-list {
    display: none;
  }
  .dripli-nav-style-1 .others-option .option-item {
    display: none;
  }
  .dripli-slider-item .dripli-slider-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .dripli-slider-item .dripli-slider-text p {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .dripli-slider-text p {
    font-size: 14px;
  }
  .dripli-slider-text .default-btn {
    float: unset;
    text-align: center;
  }
  .dripli-slider-text .sl-btn {
    float: unset;
    margin-left: 15px !important;
  }
  .default-btn {
    font-size: 13px;
    padding: 15px 18px;
  }
  .dripli-slider-item {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 90px;
  }
  .dripli-slider-area .owl-dots {
    top: 90%;
    left: 0;
    right: 0;
    display: unset;
  }
  .high-quality-service {
    padding-left: 0;
  }
  .high-quality-service .signature {
    margin-left: 30px;
  }
  .high-quality-service .signature span {
    display: none;
  }
  .high-quality-service h2 {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .high-quality-service ul li {
    font-weight: 500;
    font-size: 14px;
  }
  .quality-service-area {
    margin-bottom: 30px;
  }
  .section-title {
    margin: 0 auto 30px;
  }
  .section-title h2 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.4;
  }
  .our-service-area .default-btn-2 {
    margin-top: -5px;
    float: unset;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 18px;
  }
  .single-services {
    padding: 15px;
  }
  .single-services h3 {
    padding-left: 0;
    font-size: 17px;
    margin-bottom: 15px;
    padding-top: 0;
  }
  .single-services h3 i {
    position: unset;
    display: block;
    margin-bottom: 15px;
  }
  .our-service-area .default-btn {
    margin: 0 auto 0;
  }
  .building-the-future-area .default-btn {
    margin-bottom: 30px;
  }
  .building-wrap .building-content {
    max-width: 100%;
    padding: 15px;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .partner-area h3 {
    margin-bottom: 30px;
  }
  .why-chose-us-area .container-fluid {
    max-width: 540px;
    margin: auto;
  }
  .why-chose-us-area .col-lg-5 {
    padding-left: 15px;
    padding-right: 15px !important;
  }
  .why-chose-us-area .default-btn {
    margin: 0 auto 0;
  }
  .partner-wrap {
    margin-bottom: -9px;
  }
  .choose-wrap {
    padding-bottom: 30px;
  }
  .choose-img-wrap {
    position: relative;
    background-image: unset;
  }
  .choose-img-wrap img {
    width: 100%;
    display: block;
  }
  .choose-img-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #05125e;
    opacity: 0.5;
  }
  .choose-img-wrap::before {
    display: none;
  }
  .why-chose-us-area {
    padding-bottom: 50px;
  }
  .single-process {
    padding: 20px;
    border: 1px solid #dddddd;
  }
  .dripli-mail {
    float: unset;
    margin-bottom: 30px;
    text-align: center;
  }
  .dripli-mail i {
    left: 0;
    position: unset;
    margin-bottom: 10px;
    display: inline-block;
  }
  .dripli-mail .mail-content {
    padding-left: 0;
    margin-right: 0;
  }
  .contract-with-us-area .default-btn.default-btn-2 {
    display: block;
    text-align: center;
  }
  .our-portfolio-area .img-fill {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .our-portfolio-area .portfolio-slides span {
    bottom: 13px;
    right: 126px;
    display: none;
  }
  .our-portfolio-area .portfolio-slides .prev-arrow.slick-arrow {
    bottom: 30px;
    left: 10px;
    display: none !important;
  }
  .our-portfolio-area .portfolio-slides .next-arrow.slick-arrow {
    bottom: 30px;
    right: 10px;
    display: none !important;
  }
  .testimonials-img {
    margin-bottom: 30px;
  }
  .testimonials-img span {
    right: 0;
    left: 0;
    margin: auto;
    max-width: 50px;
    text-align: center;
    bottom: -3px;
    display: none;
  }
  .testimonials-area .owl-theme .owl-nav {
    display: none;
    top: -202px;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  .request-quote-wrap .contact-form {
    padding: 20px;
  }
  .request-quote-wrap .contact-form .default-btn {
    margin-bottom: 30px;
  }
  .request-quote-wrap {
    margin-bottom: 0;
  }
  .request-quote-area {
    padding-bottom: 50px;
  }
  .company-fame-area .company-text {
    margin-bottom: 30px;
    margin-top: -20px;
  }
  .single-company .company-content {
    padding: 20px;
  }
  .single-blog .blog-content {
    padding: 20px;
  }
  .contact-info-area::before {
    display: none;
  }
  .contact-info-area {
    padding-bottom: 20px;
  }
  .single-contact-info {
    margin-bottom: 30px;
    padding-left: 60px;
  }
  .single-contact-info i {
    font-size: 40px;
  }
  .single-widget.single-widget-1 {
    margin-left: 0;
  }
  .single-widget.single-widget-2 {
    margin-left: 0;
  }
  .single-widget.single-widget-3 {
    float: unset;
  }
  .single-widgets .terms {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
  }
  .single-widgets p {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .single-widgets .social-icon {
    float: unset;
    text-align: center;
  }
  .dripli-call {
    display: none;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-prev {
    top: 85%;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-prev i {
    font-size: 25px;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-next {
    top: 85%;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-next i {
    font-size: 25px;
  }
  .dripli-slider-2 .dripli-slider-item {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 145px;
  }
  .dripli-slider-2 .dripli-slider-item .dripli-slider-text-2 {
    text-align: center;
  }
  .high-quality-service-area .h-q-s {
    margin-left: 30px;
  }
  .blog-list {
    position: relative;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .blog-list span {
    margin-bottom: 10px;
  }
  .blog-list h3 {
    margin-bottom: 10px;
  }
  .blog-list img {
    position: unset;
    width: 100%;
  }
  .blog-list-content {
    margin-top: 10px;
  }
  .why-chose-us-2-area .default-btn {
    float: unset;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .row.mt-5 {
    margin-top: 0 !important;
  }
  .default-btn.default-btn-2.mt-0 {
    float: unset;
    margin: auto;
    display: block;
    text-align: center;
  }
  .our-process-area.pt-100.pb-70 .section-title h2 {
    margin-bottom: 10px;
  }
  .our-process-area.pt-100.pb-70 .process-content p {
    margin-top: -10px;
    margin-bottom: 30px;
  }
  .shorting-menu .filter {
    padding: 6px 10px;
    margin-bottom: 5px;
  }
  .shorting {
    margin-top: 30px;
  }
  .single-projects-box .projects-content {
    padding: 20px 10px;
  }
  .fadeInLeft {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .fadeInRight {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .page-title-area {
    padding-top: 145px;
    padding-bottom: 50px;
  }
  .page-title-area .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-area .page-title-content ul {
    margin-top: 15px;
  }
  .page-title-area .page-title-content ul li {
    font-size: 14px;
  }
  .page-title-area .page-title-content ul li a i {
    font-size: 10px;
  }
  .page-navigation-area {
    margin: 0px auto 0;
  }
  .blog-details-desc.blog-details-desc-left {
    margin-top: 40px;
  }
  .woocommerce-result-count p {
    margin-bottom: 20px;
  }
  .product-img img {
    width: 100%;
  }
  .project-details-info {
    padding: 25px 20px;
  }
  .project-details-info ul li {
    font-size: 14px;
  }
  .project-details-desc h3 {
    font-size: 18px;
  }
  .project-details-desc blockquote {
    padding: 25px 15px;
  }
  .project-details-desc blockquote p {
    font-size: 15px;
  }
  .project-details-desc .blockquote {
    padding: 25px 15px;
  }
  .project-details-desc .blockquote p {
    font-size: 15px;
  }
  .project-next-and-prev {
    padding: 20px 30px 30px;
  }
  .project-next-and-prev .text-left {
    text-align: center !important;
  }
  .project-next-and-prev .text-right {
    text-align: center !important;
  }
  .project-next-and-prev .btn {
    margin-top: 10px;
  }
  .col-lg-6.col-md-6.text-left {
    margin-bottom: 30px;
  }
  .col-lg-6.col-md-6.text-left .default-btn {
    display: block;
  }
  .col-lg-6.col-md-6.text-right .default-btn {
    display: block;
  }
  .project-details-area .project-details-img {
    margin-bottom: 30px;
  }
  .project-details-area .service-d-img {
    margin-bottom: 30px;
  }
  .project-details-area .projects-details-img img {
    width: 100%;
  }
  .single-team .team-img img {
    width: 100%;
  }
  .coming-soon-content {
    height: 100%;
  }
  .coming-soon-content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 0;
  }
  .coming-soon-content p {
    font-size: 13px;
    margin-top: 15px;
  }
  .coming-soon-content #timer {
    margin-top: 20px;
  }
  .coming-soon-content #timer div {
    font-size: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .coming-soon-content #timer div span {
    font-size: 14px;
    margin-top: -5px;
  }
  .coming-soon-content #timer div::before {
    display: none;
  }
  .coming-soon-content .newsletter-form {
    margin-top: 35px;
  }
  .coming-soon-content .newsletter-form .input-newsletter {
    height: 55px;
    padding-left: 13px;
    font-size: 15px;
  }
  .coming-soon-content .newsletter-form button {
    position: relative;
    height: auto;
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 15px;
  }
  .sign-up-area .contact-form-action {
    padding: 15px;
  }
  .sign-up-area .contact-form-action .form-heading .form-title {
    font-size: 25px;
  }
  .sign-up-area .contact-form-action .form-heading {
    margin-bottom: 30px;
  }
  .sign-up-area .contact-form-action .form-heading .form-desc {
    font-size: 15px;
  }
  .sign-up-area .contact-form-action form .default-btn {
    width: 100%;
  }
  .sign-up-area .contact-form-action .forget {
    float: unset;
    margin-top: -20px;
    margin-bottom: 30px;
    display: block;
  }
  .sign-up-area .contact-form-action .now-register {
    font-weight: 600;
    float: unset;
    margin-bottom: 8px;
  }
  .blog-details-desc .article-content .entry-meta ul li {
    display: block;
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .blog-details-desc .article-content .entry-meta ul li::before {
    display: none;
  }
  .blog-details-desc .article-content h3 {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .blog-details-desc .article-content p {
    font-size: 15px;
  }
  .blog-details-desc .article-content .features-list li {
    font-size: 15px;
  }
  .widget-area .widget {
    padding: 15px;
  }
  blockquote {
    padding: 30px !important;
  }
  blockquote p {
    font-size: 16px !important;
  }
  .blockquote {
    padding: 30px !important;
  }
  .blockquote p {
    font-size: 16px !important;
  }
  .comments-area {
    padding: 20px;
  }
  .comments-area .comment-author {
    font-size: 15px;
    margin-bottom: 0.3em;
  }
  .comments-area .comment-author .avatar {
    left: 0;
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .comments-area .comment-body {
    padding-left: 0;
  }
  .comments-area .comments-title {
    font-size: 19px;
  }
  .comments-area .comments-title::before {
    left: -20px;
  }
  .comments-area .comment-metadata {
    font-size: 12px;
  }
  .comments-area .comment-respond .comment-reply-title {
    font-size: 19px;
  }
  .comments-area .comment-respond .comment-reply-title::before {
    left: -20px;
  }
  .comments-area .comment-respond .comment-form-author {
    width: 100%;
    padding-right: 0;
  }
  .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .comments-area .comment-respond .form-submit input {
    padding: 12px 25px 10px;
  }
  .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .blog-details-wrap {
    margin-top: 30px;
  }
  .error-area {
    padding: 70px 0;
  }
  .error-area .error-contant-wrap p {
    margin: 15px 0 20px;
  }
  .product-details-desc {
    margin-top: 25px;
  }
  .product-details-desc h3 {
    font-size: 16px;
  }
  .product-details-desc .price {
    margin-bottom: 13px;
  }
  .product-details-desc .product-review {
    margin-bottom: 13px;
  }
  .product-details-desc .product-review .rating {
    font-size: 13px;
  }
  .products-details-tab {
    margin-top: 30px;
  }
  .products-details-tab .tabs {
    margin-bottom: -11px;
  }
  .products-details-tab .tabs li {
    margin-bottom: 10px;
  }
  .products-details-tab .tabs li a {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 40px;
  }
  .products-details-tab .tabs li a .dot {
    left: 20px;
  }
  .products-details-tab .tab_content {
    padding: 25px 20px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information li span {
    display: block;
    width: 100%;
    margin-bottom: 2px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content h3 {
    font-size: 16px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .rating i {
    font-size: 13px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .btn {
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: unset;
    transform: unset;
    margin-top: 15px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-right: 0;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .rating i {
    font-size: 13px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item h3 {
    font-size: 15px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item span {
    font-size: 12px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
    position: relative;
    top: 0;
    margin-top: 15px;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .review-rating {
    display: none;
  }
  .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .form-group label {
    font-size: 13px;
  }
  .product-details-desc .custom-payment-options .payment-methods a img {
    width: 39px;
  }
  .cart-table {
    text-align: center;
  }
  .cart-table table thead tr th {
    padding: 0 40px 10px;
    white-space: nowrap;
  }
  .cart-table table thead tr th:first-child {
    text-align: left;
    padding-left: 0;
  }
  .cart-table table tbody tr td {
    white-space: nowrap;
  }
  .cart-table table tbody tr td:first-child {
    text-align: left;
    padding-left: 0;
  }
  .cart-buttons {
    text-align: center;
  }
  .cart-buttons .text-right {
    text-align: center !important;
    margin-top: 0;
  }
  .cart-totals {
    padding: 20px;
    margin-top: 35px;
  }
  .cart-totals h3 {
    margin-bottom: 18px;
    font-size: 17px;
  }
  .cart-totals ul li {
    font-size: 13px;
  }
  .cart-totals .default-btn {
    display: block;
    text-align: center;
  }
  .checkout-area .title {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .billing-details {
    padding: 15px;
  }
  .billing-details .form-group {
    margin-bottom: 15px;
  }
  .billing-details .form-group label {
    margin-bottom: 7px;
  }
  .billing-details .form-group .form-control {
    height: 40px;
    line-height: 40px;
  }
  .billing-details .form-group textarea {
    height: 100% !important;
  }
  .billing-details .form-check label {
    top: 2px;
  }
  .order-details {
    margin-top: 30px;
  }
  .order-details .order-table {
    padding: 15px;
  }
  .order-details .order-table table thead tr th {
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .order-details .order-table table tbody tr td {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .order-details .payment-box {
    padding: 15px;
  }
  .cart-area .coupon-wrap {
    padding: 20px;
    margin-top: 30px;
  }
  .cart-area .default-btn {
    display: block;
    text-align: center;
  }
  .cart-wraps {
    padding: 20px;
  }
  .cart-wraps .continue-shopping-box {
    margin-bottom: 30px;
  }
  #map {
    height: 300px;
  }
  .faq-accordion {
    margin-bottom: 30px;
  }
  .faq-accordion .accordion .accordion-title {
    font-size: 17px;
  }
  .top-header-style-1.top-header-style-2 .contact-info {
    padding-left: 0;
  }
  .contact-page {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
  }
  .contact-area .request-quote-wrap .default-btn-2 {
    float: unset;
    margin: 0 auto 30px;
    display: block;
  }
  .request-quote-wrap .contact-form .default-btn {
    margin-bottom: 0;
  }
  .why-chose-us-2-area::before {
    display: none;
  }
  .row.mt-4 {
    margin-top: 0 !important;
  }
  .our-responsibility default-btn default-btn-2 mt-0 {
    margin-top: 0 !important;
  }
  .contract-with-us-area::before {
    display: none;
  }
  .single-blog-2 .blog-content-2 {
    padding: 15px;
  }
  .partner-wrap {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blog-details-desc .article-content .entry-meta ul li {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
  }
  .fadeInLeft {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .fadeInRight {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .shorting-menu .filter {
    padding: 6px 7px;
    margin-bottom: 0;
  }
  .cart-wraps .continue-shopping-box {
    margin-bottom: 0;
  }
  .contract-with-us-area .default-btn.default-btn-2 {
    margin-top: 72px;
  }
  .shorting-menu .filter {
    padding: 4px !important;
  }
  .dripli-mail {
    margin-bottom: 0;
  }
  .dripli-mail .mail-content h3 {
    margin-bottom: 16px;
  }
  .single-company .company-content {
    height: 100%;
  }
  .single-company .company-content::before {
    height: 100%;
  }
  .default-btn.default-btn-2.mt-0 {
    float: unset;
    margin-top: 6px !important;
  }
  .default-btn.default-btn-2.mt-0.responsibility {
    margin-top: 70px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .pt-70 {
    padding-top: 40px;
  }
  .pb-130 {
    padding-bottom: 70px;
  }
  .pt-130 {
    padding-top: 70px;
  }
  .top-header-style-1 .contact-info {
    text-align: center;
  }
  .top-header-style-1 .contact-info li a {
    padding-right: 6px;
    padding-left: 6px;
  }
  .top-header-style-1 .contact-info-2 {
    display: none;
  }
  .dripli-nav-style-1 .others-option .cart-icon {
    position: absolute;
    top: 15px;
    right: 80px;
  }
  .dripli-nav-style-1 .others-option .language-list {
    display: none;
  }
  .dripli-nav-style-1 .others-option .option-item {
    display: none;
  }
  .dripli-slider-item .dripli-slider-text {
    max-width: 600px;
  }
  .dripli-slider-item .dripli-slider-text h1 {
    font-size: 35px;
  }
  .dripli-slider-item .dripli-slider-text p {
    font-size: 15px;
  }
  .dripli-slider-text .default-btn {
    float: unset;
    text-align: center;
  }
  .dripli-slider-text .sl-btn {
    float: unset;
    margin-left: 25px !important;
  }
  .default-btn {
    font-size: 13px;
    padding: 15px 18px;
  }
  .dripli-slider-item {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 90px;
  }
  .dripli-slider-area .owl-dots {
    top: 90%;
    left: 0;
    right: 0;
    display: unset;
  }
  .high-quality-service {
    padding-left: 0;
  }
  .high-quality-service .signature {
    margin-left: 45px;
  }
  .high-quality-service .signature span {
    display: none;
  }
  .high-quality-service h2 {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .quality-service-area {
    margin-bottom: 30px;
  }
  .section-title {
    margin: 0 auto 40px;
  }
  .section-title h2 {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1.4;
  }
  .our-service-area .default-btn-2 {
    margin-top: -5px;
    float: unset;
    margin-bottom: 30px;
  }
  .our-service-area h3 {
    font-size: 17px;
    padding-top: 5px;
  }
  h3 {
    font-size: 18px;
  }
  .single-services {
    padding: 20px;
  }
  .fadeInLeft {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .fadeInRight {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .building-the-future-area .default-btn {
    margin-bottom: 30px;
  }
  .building-wrap img {
    width: 100%;
  }
  .building-wrap .building-content {
    max-width: 100%;
    padding: 20px;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .partner-area h3 {
    margin-bottom: 30px;
  }
  .why-chose-us-area .col-lg-5 {
    padding-left: 0;
  }
  .choose-wrap {
    padding-bottom: 30px;
    max-width: 690px;
    margin: auto;
  }
  .choose-img-wrap {
    position: relative;
    background-image: unset;
    max-width: 690px;
    margin: auto;
  }
  .choose-img-wrap img {
    width: 100%;
    display: block;
  }
  .choose-img-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #05125e;
    opacity: 0.5;
  }
  .choose-img-wrap::before {
    display: none;
  }
  .why-chose-us-area {
    padding-bottom: 70px;
  }
  .single-process {
    padding: 20px;
    border: 1px solid #dddddd;
  }
  .contract-with-us-area .default-btn.default-btn-2 {
    margin-top: 8px;
  }
  .single-contact-info a {
    font-size: 13px;
  }
  .our-portfolio-area .img-fill {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .our-portfolio-area .portfolio-slides span {
    bottom: 13px;
    right: 126px;
    display: none;
  }
  .our-portfolio-area .portfolio-slides .prev-arrow.slick-arrow {
    bottom: 30px;
    left: 10px;
    display: none !important;
  }
  .our-portfolio-area .portfolio-slides .next-arrow.slick-arrow {
    bottom: 30px;
    right: 10px;
    display: none !important;
  }
  .testimonials-img {
    margin-bottom: 30px;
  }
  .testimonials-img span {
    right: 0;
    left: 0;
    margin: auto;
    max-width: 50px;
    text-align: center;
    bottom: -3px;
    display: none;
  }
  .testimonials-area .owl-theme .owl-nav {
    display: none;
    top: -202px;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  .request-quote-wrap .contact-form {
    padding: 20px;
  }
  .request-quote-wrap .contact-form .default-btn {
    margin-bottom: 30px;
  }
  .request-quote-wrap {
    margin-bottom: 0;
  }
  .request-quote-area {
    padding-bottom: 70px;
  }
  .company-fame-area .company-text {
    margin-bottom: 30px;
    margin-top: -10px;
  }
  .single-company .company-content {
    padding: 38px 15px;
  }
  .single-blog .blog-content {
    padding: 20px;
  }
  .contact-info-area::before {
    display: none;
  }
  .contact-info-area {
    padding-bottom: 20px;
  }
  .single-contact-info {
    margin-bottom: 30px;
    padding-left: 0px;
    text-align: center;
  }
  .single-contact-info i {
    font-size: 35px;
    display: inline-block;
    margin-bottom: 18px;
    position: unset;
  }
  .single-widget.single-widget-1 {
    margin-left: 0;
  }
  .single-widget.single-widget-2 {
    margin-left: 0;
  }
  .single-widget.single-widget-3 {
    float: unset;
  }
  .single-widgets .terms {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
  }
  .single-widgets p {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .single-widgets .social-icon {
    float: unset;
    text-align: center;
  }
  .company-fame-area .section-title {
    margin-bottom: 0;
  }
  .our-process-area .section-title h2 {
    margin-bottom: 10px;
  }
  .our-process-area .process-content {
    margin-bottom: 40px;
  }
  .high-quality-service-area .h-q-s {
    margin-left: 50px;
  }
  .why-chose-us-2-area .default-btn {
    float: unset;
    margin-top: -10px;
    margin-bottom: 30px;
  }
  .single-services-2 h3 {
    font-size: 17px;
  }
  .blog-list {
    margin-bottom: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 12px;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-prev {
    top: 90%;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-prev i {
    font-size: 25px;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-next {
    top: 90%;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-next i {
    font-size: 25px;
  }
  .page-title-area {
    padding-top: 160px;
    padding-bottom: 70px;
  }
  .page-title-area .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-area .page-title-content ul {
    margin-top: 15px;
  }
  .page-title-area .page-title-content ul li {
    font-size: 14px;
  }
  .page-title-area .page-title-content ul li a i {
    font-size: 10px;
  }
  .blog-details-desc.blog-details-desc-left {
    margin-top: 40px;
  }
  .project-details-info ul li {
    font-size: 14px;
  }
  .project-details-desc h3 {
    font-size: 19px;
    margin-bottom: 12px;
  }
  .project-details-desc blockquote {
    padding: 20px 15px;
  }
  .project-details-desc blockquote p {
    font-size: 14px;
  }
  .project-details-desc .blockquote {
    padding: 20px 15px;
  }
  .project-details-desc .blockquote p {
    font-size: 14px;
  }
  .project-details-area .project-details-img {
    margin-bottom: 30px;
  }
  .project-details-area .service-d-img {
    margin-bottom: 30px;
  }
  .project-details-area .projects-details-img img {
    width: 100%;
  }
  .project-details-area .service-d-img img {
    width: 100%;
  }
  .coming-soon-content h1 {
    font-size: 65px;
  }
  .coming-soon-content #timer div {
    font-size: 60px;
  }
  .coming-soon-content #timer div::before {
    font-size: 65px;
    right: -49px;
  }
  .sign-up-area .contact-form-action .form-heading .form-title {
    font-size: 30px;
  }
  .blog-details-desc .article-content .entry-meta ul li {
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .blog-details-desc .article-content .entry-meta ul li::before {
    display: none;
  }
  .blog-details-desc .article-content h3 {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .blog-details-desc .article-content p {
    font-size: 15px;
  }
  .blog-details-desc .article-content .features-list li {
    font-size: 15px;
  }
  .widget-area .widget {
    padding: 15px;
  }
  blockquote {
    padding: 30px !important;
  }
  blockquote p {
    font-size: 16px !important;
  }
  .blockquote {
    padding: 30px !important;
  }
  .blockquote p {
    font-size: 16px !important;
  }
  .comments-area {
    padding: 20px;
  }
  .comments-area .comment-author {
    font-size: 15px;
    margin-bottom: 0.3em;
  }
  .comments-area .comment-author .avatar {
    left: 0;
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .comments-area .comment-body {
    padding-left: 0;
  }
  .comments-area .comments-title {
    font-size: 19px;
  }
  .comments-area .comments-title::before {
    left: -20px;
  }
  .comments-area .comment-metadata {
    font-size: 12px;
  }
  .comments-area .comment-respond .comment-reply-title {
    font-size: 19px;
  }
  .comments-area .comment-respond .comment-reply-title::before {
    left: -20px;
  }
  .comments-area .comment-respond .comment-form-author {
    width: 100%;
    padding-right: 0;
  }
  .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .comments-area .comment-respond .form-submit input {
    padding: 12px 25px 10px;
  }
  .widget-area .widget:first-child {
    margin-top: 40px;
  }
  .blog-details-wrap {
    margin-top: 30px;
  }
  .cart-totals {
    margin: 50px auto 0;
  }
  .product-details-image {
    margin-bottom: 30px;
  }
  .billing-details {
    margin-bottom: 30px;
  }
  .pagenavigation-area {
    margin: 0px auto 0 !important;
  }
  .products-details {
    margin-top: 60px;
  }
  .event-area.about-event.pb-100 {
    padding-bottom: 60px;
  }
  #map {
    height: 400px;
  }
  .faq-accordion {
    margin-bottom: 30px;
  }
  .top-header-style-1.top-header-style-2 .contact-info {
    padding-left: 0;
  }
  .contact-page {
    padding-top: 70px !important;
    padding-bottom: 40px !important;
  }
  .request-quote-wrap .contact-form .default-btn {
    margin-bottom: 0;
  }
  .shorting-menu .filter {
    padding: 10px 18px;
  }
  .default-btn.default-btn-2.mt-0.responsibility {
    margin-bottom: 0;
  }
  .single-services h3 {
    max-width: 200px;
    padding-top: 4px;
  }
  .our-service-area .default-btn {
    margin: 10px auto 0;
  }
  .why-chose-us-area .default-btn {
    margin: 10px auto 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pt-130 {
    padding-top: 100px;
  }
  .pb-130 {
    padding-bottom: 100px;
  }
  .dripli-nav-style-1 .others-option {
    margin-left: 10px;
  }
  .high-quality-service .signature {
    margin-left: 15px;
  }
  .high-quality-service .signature span {
    left: 135px;
  }
  .high-quality-service h2 {
    font-size: 29px;
  }
  .our-service-area .default-btn-2 {
    margin-top: 85px;
    float: right;
  }
  .section-title h2 {
    font-size: 29px;
  }
  .testimonials-area .owl-theme .owl-nav {
    bottom: 30px;
  }
  .testimonials-area .section-title {
    margin-bottom: 40px;
  }
  .request-quote-wrap {
    margin: 0 auto 0;
  }
  .request-quote-area {
    padding-bottom: 100px;
  }
  .company-fame-area .company-text {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .single-blog .blog-content {
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .single-blog:hover .blog-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-widget.single-widget-1 {
    margin-left: 55px;
  }
  .single-widget.single-widget-2 {
    margin-left: 20px;
  }
  .single-widgets p {
    padding-left: 15px;
  }
  .go-top.active {
    top: 93%;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-prev {
    top: 91%;
  }
  .dripli-slider-area .owl-theme .owl-nav .owl-next {
    top: 91%;
  }
  .process-content p {
    margin-top: 14px;
  }
  .fadeInLeft {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .fadeInRight {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .high-quality-service {
    padding-left: 0;
  }
  .high-quality-service-area .h-q-s {
    margin-left: 140px;
  }
  .why-chose-us-2-area .default-btn {
    margin-top: 136px;
  }
  .blog-list span {
    margin-bottom: 10px;
  }
  .blog-list h3 {
    margin-bottom: 6px;
    font-size: 15px;
  }
  .billing-details {
    padding: 20px;
  }
  .billing-details .payment-box {
    padding: 20px;
  }
  .order-details .order-table {
    padding: 20px;
  }
  .single-team .team-content h3 {
    font-size: 17px;
  }
  .top-header-style-1.top-header-style-2 .contact-info {
    padding-left: 0;
  }
  .dripli-slider-item .dripli-slider-text {
    max-width: 800px;
  }
  .dripli-slider-item .dripli-slider-text h1 {
    font-size: 55px;
  }
  .partner-area h3 {
    font-size: 19px;
  }
  .single-process {
    padding: 15px;
  }
  .single-chose h3 {
    font-size: 18px;
  }
  .blog-list h3 a {
    font-size: 17px;
  }
  .blog-list-content {
    padding-top: 0;
  }
  .dripli-slider-item {
    height: 100%;
    padding: 100px 0;
  }
  .dripli-slider-item .dripli-slider-text.dripli-slider-text-2 {
    margin: 80px auto 0;
  }
  .dripli-slider-item .dripli-slider-text p {
    font-size: 15px;
  }
  .contact-info-area::before {
    display: none;
  }
  .dripli-nav-style-1 .main-nav nav .navbar-nav .nav-item a {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1824px) {
  .choose-wrap {
    max-width: 792px;
  }
  .single-company .company-content {
    padding: 48px;
  }
  .contact-info-area::before {
    width: 395px;
  }
  .dripli-nav-style-1.dripli-nav-style-2 {
    max-width: 1320px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1320px;
  }
}

/** Only Mobile Menu **/
@media only screen and (max-width: 991px) {
  .mean-container .mean-bar {
    background-color: #030749;
    padding: 0;
  }
  .mean-container a.meanmenu-reveal {
    color: #fe5a0e;
  }
  .mean-container a.meanmenu-reveal span {
    background: #fe5a0e;
    display: block;
    height: 4px;
    margin-top: -5px;
    border-radius: 3px;
    position: relative;
    top: 8px;
  }
  .mobile-nav .logo {
    top: 9px;
    line-height: 1;
  }
  .dripli-nav-style-1.dripli-nav-style-2.is-sticky {
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #fe5a0e;
  }
  .fadeInLeft {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
  .fadeInRight {
    -webkit-animation-name: unset;
            animation-name: unset;
  }
}
/*# sourceMappingURL=responsive.css.map */